.app-container {
	display: flex;
	flex: 1;
	flex-direction: column;
}

/* Style according to mobile first approach. Media for desktop and larger displays should be added. */
nav {
	margin: 2rem;
	text-align: center;
	font-size: 1.3rem;
}

.normal {
	color: #181818;
	text-decoration: none;
}

.active {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
