.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.logo {
	width: 10rem;
	height: 10rem;
	background-image: url(./img/cream-logo.png);
	background-size: contain;
	position: relative;
}

h1 {
	font-family: 'Roboto Mono', monospace;
	color: #181818;
	position: absolute;
	padding-top: 7rem;
}
