.detail-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 5rem;
}

.ingredients-icon {
	width: 10%;
	height: 10%;
}

.ingredient-name {
	font-weight: bolder;
	font-size: larger;
}
