/*
.detail-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-inline-start: 0;
} */

.detail-icon {
	width: 8rem;
	height: 8rem;
}

.detail-page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
}

.detail-heading {
	text-align: center;
	font-size: 1.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
}

.detail-name {
	font-weight: bolder;
	font-size: 1.1rem;
}

.detail-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 5rem;
	margin-right: 5rem;
}

/* 
.detail-list {
	list-style-type: none;
} */

dd {
	margin-inline-start: 0;
	font-size: 0.6rem;
	/* text-align: center; */
}

/* dt { */
/* text-align: center;
	 */
/* } */

dl {
	margin-block-start: 0;
	margin-block-end: 0;
}
