.error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.error-logo {
	width: 20rem;
	height: 20rem;
	background-image: url(images/cream-logo.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.error-text {
	font-size: 1rem;
	text-align: center;
	/* height: 30%;
	width: 50%; */
}

.error-button {
	font-size: 1.1rem;
	color: #181818;
	background-color: #67c975;
	border: none;
	border-radius: 10px;
	padding: 1rem 1.5rem;
	text-align: center;
	text-decoration: none;
	margin-top: 1rem;
}

#error-heading {
	font-size: 8rem;
	color: #181818;
	text-align: center;
}

@media (max-width: 600px) {
	/* .error-logo {
		background-attachment: fixed;
	} */
	#error-heading {
		font-size: 3rem;
	}
}
