.footer-container {
	/* 
	TBD: When position is unset, margin-bottom does not work. Why?*/
	position: static;
	position: absolute;
	bottom: 2rem;
	left: 1rem;
	right: 1rem;
}

.footer-text {
	font-size: 1rem;
	text-align: center;
}
