.footer-container {
	/* 
	TO DO: To set margin from the top works, but not bottom. Why? Because of body height?
	margin: 12rem 2rem 2rem 2rem; */
	margin-bottom: 3rem;
}

.footer-text {
	font-size: 1rem;
	text-align: center;
}
