.take-a-pict {
	background-image: url(/img/camera-view5.svg);
	background-size: contain;
	background-color: transparent;
	background-repeat: no-repeat;
	width: 10rem;
	height: 10rem;
	border: none;
}

.take-a-pict:hover {
	font-size: medium;
}

img,
video,
button,
input {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.upload-button {
	font-size: 12px;
	color: #181818;
	background-color: #67c975;
	border: none;
	border-radius: 10px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
}

.webcam-window {
	width: 40rem;
	height: 40rem;
	border-radius: 10px;
}

@media (max-width: 768px) {
	.webcam-window {
		max-width: 70%;
		max-height: 40%;
	}
}
