@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

html,
body {
	background-color: #f8fff8;
	max-height: 100dvh;
	margin: 0;
	padding: 0;
	border: 0;
}

h1,
h2,
p {
	color: #181818;
}
