@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

body {
	background-color: #f8fff8;
	margin: 0;
	height: 90vmax;
	/* 
	TO DO: Solve height of the body (whole viewpoet, but without scrolling)
	max-height: 100vw;
	Set width? 
	 */
}

h1,
h2,
p {
	color: #181818;
}
