.ingredients-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 1rem;
	margin-right: 1rem;
}

.ingredients-heading {
	margin-top: 4rem;
	text-align: center;
}

.ingredients__category {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;
}

.ingredients-icon {
	width: 7rem;
	height: 7rem;
	object-fit: cover;
}

.ingredients__text {
	width: 15rem;
	line-height: 1rem;
	margin-bottom: 1.3rem;
}

.ingredients-button {
	font-size: 0.8rem;
	color: #181818;
	background-color: #67c975;
	border: none;
	border-radius: 10px;
	padding: 0.4rem 0.8rem;
	text-align: center;
	text-decoration: none;
}
